/* components/carousel.module.scss */
.carousel {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;

  &__slide {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__control {
    z-index: 100;
    position: absolute;
    background: #03cbf8;
    border: none;
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 2rem;
    cursor: pointer;
    user-select: none;
    font-family: monospace;
    margin: 1rem;

    &:hover {
      background: #0079ca;
    }
  }

  &__indicators {
    z-index: 140;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 0.5rem;
  }

  &__indicator {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    border: none;
    cursor: pointer;
    transition: background 0.2s ease;

    &.active {
      background: #03cbf8;
    }
  }

  &__backdrop {
    position: absolute;
    inset: 0;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 145;
    pointer-events: none;

    &--active {
      opacity: 1;
    }
  }

  &__spinnerOverlay {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 150;
  }

  &__spinner {
    width: 50vmin;
    height: 50vmin;
    border: 16px solid rgba(255, 255, 255, 0.3);
    border-top-color: #03cbf8;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    z-index: 125;
  }

  &__modal {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    transition: transform 0.5s ease-in-out;
    z-index: 130;
    border-bottom: 10px solid #03cbf8;
    backdrop-filter: blur(5px);
  }
  &__modal--initial { transform: translateY(-66.6%); }
  &__modal--open    { transform: translateY(0%);     }
  &__modal--closed  { transform: translateY(-100%);  }

  &__modalContent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem;
    font-size: 1.3rem;
    width: 90%;
    height: 90%;
    overflow: auto;
    text-align: center;

    h3 {
      font-size: 4rem;
    }
  }

  /* click catcher when in initial state */
  &__initialOverlay {
    position: fixed;
    inset: 0;
    z-index: 135; /* above modal but below upButton */
    background: transparent;
  }

  &__upButton {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    background: #03cbf8;
    color: white;
    padding: 0.6rem 0.6rem 0rem;
    border: none;
    cursor: pointer;
    transition: top 0.5s ease-in-out;
    z-index: 140;
  }
  &__upButton--closed { top: 1rem; }
  &__upButton--open   { top: calc(100vh - 6rem); }
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
