.carousel {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  margin: auto 0;
  justify-content: space-between;
  justify-content: center;
  pointer-events: none;
  z-index: 1;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.button {
  cursor: pointer;
  pointer-events: all;
  width: 50px;
  height: 50px;
  z-index: 10;
}

.button:disabled {
  opacity: 0.1;
}

.content {
  position: relative;
  width: 100vw;
  height: 100vh;
  position: relative; /* Ensure content is layered below the overlay if necessary */
  z-index: 1;
}
