@use "@/utils/variables.module.scss" as *;

.customNodeBody {
  width: 72px;
  height: 72px;
  position: relative;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: black;
  font-size: 1rem;
  background-color: $white;
}

div.customHandle {
  width: 100%;
  height: 100%;
  background: blue;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0;
  transform: none;
  border: none;
  opacity: 0;
}

.cloudNode {
  background-image: url("/images/cloud.svg");
  background-size: contain;
  height: 100%;
  width: 100%;
}

.annotation-content {
  font-size: 4rem;
  font-family: Inter, sans-serif;
}
