@use "sass:color";

// Primary Colors
$primary: #71b6f8;
$primary-light: color.adjust($primary, $lightness: 50%, $space: hsl);
$primary-dark: color.adjust($primary, $lightness: -50%, $space: hsl);

// Secondary Colors
$secondary: #392a63;
$secondary-light: color.adjust($secondary, $lightness: 15%, $space: hsl);
$secondary-dark: color.adjust($secondary, $lightness: -15%, $space: hsl);

// Accent Colors
$accent: #6117f1;
$accent-light: color.adjust($accent, $lightness: 15%, $space: hsl);
$accent-dark: color.adjust($accent, $lightness: -15%, $space: hsl);

// Neutral Colors
$white: #d4d4d4;
$black: #141415;
$gray-light: #313437;
$gray-dark: #17181a;

// Utility Colors
$success: #28a745;
$warning: #ffc107;
$danger: #dc3545;
$info: #17a2b8;

// Export a color map for easy usage in loops if needed
$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "accent": $accent,
  "success": $success,
  "warning": $warning,
  "danger": $danger,
  "info": $info,
  "gray-light": $gray-light,
  "gray-dark": $gray-dark,
);

// Breakpoints
$xs: 360px;
$sm: 600px;
$md: 900px;
$lg: 1200px;
$xl: 1920px;

@mixin sm {
  @media (min-width: $sm) {
    @content;
  }
}
@mixin md {
  @media (min-width: $md) {
    @content;
  }
}
@mixin lg {
  @media (min-width: $lg) {
    @content;
  }
}
